
body{
    background-color: beige;
    
}

.father{
    width: 550px;
    height: 550px;
    background-color: #FFFFFF;
}

.header-bar{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
     box-shadow: 4 0px 11px rgba(0, 0, 0, 0.12);
}

#seed-color{
width: 61px;
height: 42px;
margin-left: 14px;
border: 0.5px solid #D1D5DB;
cursor: pointer;
padding: 0px;
border-radius: 5px;
}


input[type="color"]::-webkit-color-swatch-wrapper {
    background-color: #E5E5E5;
    padding: 3px;
}

input[type="color"]::-webkit-color-swatch {
    border: 0.5px solid #313131;
   
}

#color-mode{
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    display: flex;
    align-items: center;
}



select,::picker(select) {
  appearance: base-select;
  background: white;
  font-family: "Inter";
  cursor: pointer;
  font-size: 1rem;
}

::picker(select){

    margin-top: 4px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    padding: 0.25rem;
    padding-left: 13px;
}

/* options inside */

option{
    margin-left: -5px;
}

option:not(:last-child){
    margin-bottom: 16px;
    
}

option:last-child{
margin-bottom: 11px;
}

option:first-child{
    margin-top: 8px ;
}

/* checkmark */
option::checkmark{
    content: checkmark;
    order: 1;
    margin-left: auto;
    align-self: center;
     content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'><path d='M4 12L9.5 17.5L20 6' stroke='%233B82F6' stroke-width='2.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

/* change color options highlighted text */
option:hover{
    background-color: rgb(247, 247, 247);
}

/* bold current selected mode in option */
option:checked{
    font-weight: 600;
}

/* the arrow */

::picker-icon{
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='18' viewBox='0 0 12 2' fill='none'><path d='M1 1.5L6 6L11 1.5' stroke='%239CA3AF' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/></svg>");

}

select:hover::picker-icon{
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='18' viewBox='0 0 12 2' fill='none'><path d='M1 1.5L6 6L11 1.5' stroke='%234059ff' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

/* get button */

header button{
    width: 123px;
    height: 42px;
    border: 1px solid #D1D5DB;
    background-color: white;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    color: #374151;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
}

header button:hover{
    color: #3187ff;
}

/* color grid */
.color-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 110px));
    justify-content: center;


   
}

.color-item{
    display: flex;
    flex-direction: column;
}

.swatch{
    height: 414px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.swatch:hover{
    transform: scale(1.01);
    box-shadow: inset 0 0 20px 4px rgba(255, 255, 255, 0.352);

}

.hex{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 46px;
    font-family: "Inter";
    color: #2B283A;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
}



